@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import 'tailwindcss';

body {
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  font-size: 16px;
}

 @layer utilities {
  .layout-gutter {
    max-width: 1480px; 
    margin-inline: auto;
    padding-inline: 20px;
  }

  @media (min-width: 768px) {
    .layout-gutter {
      padding-inline: 48px;
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
}